* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: rgb(255, 255, 255);
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7;
  color: rgba(50, 54, 58, 0.85);
  padding: 0;
  margin: 0;
}

.invalid {
  border: solid rgba(255, 62, 48, 1) .3rem;
  color: rgba(255, 62, 48, 1);
  background: rgba(255, 62, 48, .4);
}