.form-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-weather input, button {
    margin-left: 2rem;
}

.form-weather input {
    width: 30rem;
}

.weather-data--icon {
    margin: 0 auto;
    width: 25%;
}

.weather-data--image {
    color: rgba(252, 186, 3, 1);
}